@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.noto-sans-font {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

.orange-color {
    color: #E95A08;
}

.description {
    font-size: 22px;
    font-weight: 400;
    color: #00000080;
}

.section {
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar related style */
.navbar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    gap: 50px;
}

.nav-item {
    list-style: none;

}

.nav-link {
    text-decoration: none;
}

.align-content {
    align-items: center;
}

.second-content {
    margin-right: 50px;
}

.icon {
    margin-right: 10px;
}

.home {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.nav-link {
    color: #8987A1;
}

/* banner */
.banner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
}

/* Our Plants */

.plant-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.plant-description {
    text-align: center;
}

.card-title {
    font-size: 22px;
    font-weight: 500;
}

.cart-description {
    font-size: 22px;
    font-weight: 700;
}

.add-btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #E95A08;
    padding: 10px;
    color: white;
    text-align: center;
    width: 75%;
}

.plants-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

/* flowers-section */
.flowers-section {
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.flower-content {
    margin-top: 50px;
}

.flower-title {
    font-size: 50px;
    font-weight: 700;
}

.flower-img-round {
    width: 200px;
    height: 200px;
    margin-bottom: 500px;
    margin-left: -120px;
}

/* Latest Deals */
.img-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.img-card {
    border-radius: 20px;
}

.img-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 50px;
    text-align: center;
}

.img-description {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.first-img {
    background-image: url('../assets/deal-bloom.png');
    background-repeat: no-repeat;
    height: 38%;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.second-img {
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    height: 38%;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.third-img {
    background-image: url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    height: 50%;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* join */

.join {
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    height: 500px;
}

.join-title {
    text-align: center;
    padding-top: 250px;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.input-text {
    text-align: center;
}

.input {
    padding: 10px;
}

.input-text-placeholder {
    width: 400px;
}

.input-btn {
    width: 150px;
    margin-left: -5px;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 11px;
}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .navbar {
        padding: 10px;
    }

    .second-content {
        display: none;
    }

    .banner {
        padding: 10px;
        flex-direction: column-reverse;
    }

    .plants-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .flowers-section {
        flex-direction: column;
    }

    .flower-img-round {
        display: none;
    }

    .flower-content {
        margin-top: -100px;
    }

    .img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .first-img {
        background-image: url('../assets/deal-bloom.png');
        background-repeat: no-repeat;
        height: 200px;
        width: 350px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .second-img {
        background-image: url('../assets/deal-ana.png');
        background-repeat: no-repeat;
        height: 200px;
        width: 350px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .third-img {
        background-image: url('../assets/deal-zabo.png');
        background-repeat: no-repeat;
        height: 200px;
        width: 350px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .input-text-placeholder {
        width: 150px;
    }

    .input-btn {
        width: 80px;
    }
    .join-title {
    padding-top: 100px;
}
}